[bB]in/
[oO]bj/
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
*.log
*.db
*.sqlite
*.sqlite3
*.db-shm
*.db-wal
nCrunchTemp_*
_ReSharper*/

# OS
.DS_Store
Thumbs.db

# Web
node_modules/
package-lock.json
yarn.lock
appsettings.Development.json
!wwwroot/.gitkeep

# Publish
[Pp]ublish/
*.nupkg

# Tests
TestResult.xml
coverage/
coverlet.xml

# Barefoot Specific
AlhafiNewsPaper.db
