.swagger-ui .topbar-wrapper img {
  content: url('/AlhafiLogo_Enhanced.png');
  height: 50px; /* Adjust as needed */
  width: auto;
  display: block; /* Ensure it is displayed */
  margin-right: 15px; /* Spacing between logo and text */
}

.swagger-ui .topbar-wrapper .link {
  display: flex;
  align-items: center;
}

.swagger-ui .topbar-wrapper .link:after {
  content: "BareFoot Swagger Documentation";
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  visibility: visible;
  display: block;
}
